.container-root1 {
  display: flex;
  /* height: auto; */
  margin: 0;
  /* background-color: w; */
}

.container-drag {
  overflow: scroll;
  width: 30%;
  background-color: #f3f3fe;
  color: rgb(0, 0, 0);
  margin-right: 12px;
  height: 100vh;
  overflow-x: hidden;
  padding-top: 20px;

}

.container-right {
  background-color: white;
  width: 70%;
  /* margin: 10px 0 0 10px; */
  margin-right: 0;
  /* height: auto; */
  height: 100vh;
  overflow: scroll;
  overflow-x: hidden;
  padding-top: 20px;


}

.elements-btn {
  margin: 0 20px 2px 20px;

  background-color: black;
  border: 2px solid white;
  color: white;
  padding: 20px;
  width: 90%;
  border-radius: 5px;
}

.elements-btn:hover {
  cursor: -webkit-grab;
  cursor: grab;
  background-color: black;
}

.task-header {
  width: 100%;
  text-align: center;
  margin: 2px;
}

.droppable-area {
  border: 3px dashed rgb(83, 83, 83);
  width: 90%;
  height: 50px;
  margin: 20px auto;
  background-color: #f3f3fe;
  padding: 10px;
  text-align: center;
  border-radius: 12px;
}

.drag-text {
  margin-top: 16px;
}

.added-elements {
  /* border: 1px solid red; */
  background-color: white;
  /* text-align: center; */
  margin: 3px;
  padding: 12px;
  border-radius: 5px;
}

.publish-btn-div {
  width: 100%;
  padding-bottom: 30px;
  text-align: center;
}

.publish-btn {
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 12px 32px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.publish-btn:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.publish-btn:hover {
  background-color: #2c974b;
}

.publish-btn:focus {
  box-shadow: rgba(46, 164, 79, 0.4) 0 0 0 3px;
  outline: none;
}

.publish-btn:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, 0.1);
  color: rgba(255, 255, 255, 0.8);
  cursor: default;
}

.publish-btn:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, 0.2) 0 1px 0 inset;
}

/* .bg-color-white {
  background-color: white;
} */

.publish-preview-btn {
  display: flex;
}
