@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?1ymy4r');
  src:  url('fonts/icomoon.eot?1ymy4r#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?1ymy4r') format('truetype'),
    url('fonts/icomoon.woff?1ymy4r') format('woff'),
    url('fonts/icomoon.svg?1ymy4r#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-file_upload_black_24dp-1:before {
  content: "\e900";
}
.icon-Vector:before {
  content: "\e901";
}
.icon-Vector-13:before {
  content: "\e902";
}
.icon-Vector-12:before {
  content: "\e903";
}
.icon-Vector-11:before {
  content: "\e904";
}
.icon-Vector-10:before {
  content: "\e905";
}
.icon-Vector-9:before {
  content: "\e906";
}
.icon-Vector-8:before {
  content: "\e907";
}
.icon-Vector-7:before {
  content: "\e908";
}
.icon-Vector-6:before {
  content: "\e909";
}
.icon-Vector-5:before {
  content: "\e90a";
}
.icon-Vector-4:before {
  content: "\e90b";
}
.icon-Vector-3:before {
  content: "\e90c";
}
.icon-Vector-2:before {
  content: "\e90d";
}
.icon-Group-29483:before {
  content: "\e90e";
}
.icon-Project_copy_Filled:before {
  content: "\e90f";
}
.icon-Profile:before {
  content: "\e910";
}
.icon-Setting:before {
  content: "\e911";
}
.icon-DataOps-1:before {
  content: "\e912";
}
.icon-Notification:before {
  content: "\e913";
}
.icon-Identity-Management:before {
  content: "\e914";
}
.icon-Reporting:before {
  content: "\e915";
}
.icon-DataOps:before {
  content: "\e916";
}
.icon-WebApp:before {
  content: "\e917";
}
.icon-Entities-and-APIs:before {
  content: "\e918";
}
.icon-search_black_24dp-1:before {
  content: "\e919";
}
.icon-wysiwyg_black_24dp:before {
  content: "\e91a";
}
.icon-wifi_protected_setup_black_24dp:before {
  content: "\e91b";
}
.icon-WHO:before {
  content: "\e91c";
}
.icon-west_black_24dp:before {
  content: "\e91d";
}
.icon-view_in_ar_black_24dp:before {
  content: "\e91e";
}
.icon-verified_black_24dp:before {
  content: "\e91f";
}
.icon-Verbal-Assault:before {
  content: "\e920";
}
.icon-unpublished_black_24dp:before {
  content: "\e921";
}
.icon-united-states-1:before {
  content: "\e922";
}
.icon-united-kingdom-1:before {
  content: "\e923";
}
.icon-zoom_out_black_24dp:before {
  content: "\e924";
}
.icon-zoom_in_black_24dp:before {
  content: "\e925";
}
.icon-youtube_searched_for_black_24dp:before {
  content: "\e926";
}
.icon-Wrong-Rout:before {
  content: "\e927";
}
.icon-work_outline_black_24dp:before {
  content: "\e928";
}
.icon-work_off_black_24dp:before {
  content: "\e929";
}
.icon-work_black_24dp:before {
  content: "\e92a";
}
.icon-Whatsapp:before {
  content: "\e92b";
}
.icon-waterfall_chart_black_24dp:before {
  content: "\e92c";
}
.icon-watch_later_black_24dp:before {
  content: "\e92d";
}
.icon-warning_black_24dp:before {
  content: "\e92e";
}
.icon-voice_over_off_black_24dp:before {
  content: "\e92f";
}
.icon-visibility_off_black_24dp:before {
  content: "\e930";
}
.icon-visibility_black_24dp:before {
  content: "\e931";
}
.icon-view_week_black_24dp:before {
  content: "\e932";
}
.icon-view_stream_black_24dp:before {
  content: "\e933";
}
.icon-view_sidebar_black_24dp:before {
  content: "\e934";
}
.icon-view_quilt_black_24dp:before {
  content: "\e935";
}
.icon-view_module_black_24dp:before {
  content: "\e936";
}
.icon-view_list_black_24dp:before {
  content: "\e937";
}
.icon-View-Hidden:before {
  content: "\e938";
}
.icon-view_headline_black_24dp:before {
  content: "\e939";
}
.icon-view_day_black_24dp:before {
  content: "\e93a";
}
.icon-view_column_black_24dp:before {
  content: "\e93b";
}
.icon-view_carousel_black_24dp:before {
  content: "\e93c";
}
.icon-view_array_black_24dp:before {
  content: "\e93d";
}
.icon-view_agenda_black_24dp:before {
  content: "\e93e";
}
.icon-vertical_split_black_24dp:before {
  content: "\e93f";
}
.icon-verified_user_black_24dp:before {
  content: "\e940";
}
.icon-Vandalism:before {
  content: "\e941";
}
.icon-upgrade_black_24dp:before {
  content: "\e942";
}
.icon-update_disabled_black_24dp:before {
  content: "\e943";
}
.icon-update_black_24dp:before {
  content: "\e944";
}
.icon-united-arab-emirates-1:before {
  content: "\e945";
}
.icon-unfold_more_black_24dp:before {
  content: "\e946";
}
.icon-tips_and_updates_black_24dp:before {
  content: "\e947";
}
.icon-text_rotate_vertical_black_24dp:before {
  content: "\e948";
}
.icon-Terminology:before {
  content: "\e949";
}
.icon-task_alt_black_24dp:before {
  content: "\e94a";
}
.icon-tab_black_24dp:before {
  content: "\e94b";
}
.icon-swap_horiz_black_24dp:before {
  content: "\e94c";
}
.icon-Surveillance:before {
  content: "\e94d";
}
.icon-support_black_24dp:before {
  content: "\e94e";
}
.icon-subdirectory_arrow_left_black_24dp:before {
  content: "\e94f";
}
.icon-star_black_24dp:before {
  content: "\e950";
}
.icon-source_black_24dp:before {
  content: "\e951";
}
.icon-Sort:before {
  content: "\e952";
}
.icon-smart_button_black_24dp:before {
  content: "\e953";
}
.icon-shop_2_black_24dp:before {
  content: "\e954";
}
.icon-settings_accessibility_black_24dp:before {
  content: "\e955";
}
.icon-savings_black_24dp:before {
  content: "\e956";
}
.icon-saved_search_black_24dp:before {
  content: "\e957";
}
.icon-saudi-arabia-1:before {
  content: "\e958";
}
.icon-Safety-Signal:before {
  content: "\e959";
}
.icon-Safety-RCA:before {
  content: "\e95a";
}
.icon-Safety-Journey:before {
  content: "\e95b";
}
.icon-Safety-Insight:before {
  content: "\e95c";
}
.icon-Safety-Decision-Support:before {
  content: "\e95d";
}
.icon-report_problem_black_24dp:before {
  content: "\e95e";
}
.icon-remove_done_black_24dp:before {
  content: "\e95f";
}
.icon-Reject:before {
  content: "\e960";
}
.icon-Regulators:before {
  content: "\e961";
}
.icon-Regulations:before {
  content: "\e962";
}
.icon-receipt_black_24dp:before {
  content: "\e963";
}
.icon-published_with_changes_black_24dp:before {
  content: "\e964";
}
.icon-Public:before {
  content: "\e965";
}
.icon-Providers:before {
  content: "\e966";
}
.icon-Profiles:before {
  content: "\e967";
}
.icon-production_quantity_limits_black_24dp:before {
  content: "\e968";
}
.icon-preview_black_24dp:before {
  content: "\e969";
}
.icon-pin_end_black_24dp:before {
  content: "\e96a";
}
.icon-picture_in_picture_alt_black_24dp:before {
  content: "\e96b";
}
.icon-Physicians:before {
  content: "\e96c";
}
.icon-pending_actions_black_24dp:before {
  content: "\e96d";
}
.icon-pediatrics-1:before {
  content: "\e96e";
}
.icon-Patient:before {
  content: "\e96f";
}
.icon-open_in_browser_black_24dp:before {
  content: "\e970";
}
.icon-Nutrition:before {
  content: "\e971";
}
.icon-not_started_black_24dp:before {
  content: "\e972";
}
.icon-Notification_24dp:before {
  content: "\e973";
}
.icon-north_black_24dp:before {
  content: "\e974";
}
.icon-new_label_black_24dp:before {
  content: "\e975";
}
.icon-more_horiz_black_24dp:before {
  content: "\e976";
}
.icon-Money:before {
  content: "\e977";
}
.icon-model_training_black_24dp:before {
  content: "\e978";
}
.icon-minimize_black_24dp:before {
  content: "\e979";
}
.icon-maps_home_work_black_24dp:before {
  content: "\e97a";
}
.icon-language_black_24dp:before {
  content: "\e97b";
}
.icon-label_black_24dp:before {
  content: "\e97c";
}
.icon-KKESH:before {
  content: "\e97d";
}
.icon-kidney-1:before {
  content: "\e97e";
}
.icon-integration_instructions_black_24dp:before {
  content: "\e97f";
}
.icon-info_black_24dp:before {
  content: "\e980";
}
.icon-important_devices_black_24dp:before {
  content: "\e981";
}
.icon-Impact:before {
  content: "\e982";
}
.icon-IHI:before {
  content: "\e983";
}
.icon-IDC:before {
  content: "\e984";
}
.icon-Icons-Close-Circle:before {
  content: "\e985";
}
.icon-hourglass_disabled_black_24dp:before {
  content: "\e986";
}
.icon-highlight_alt_black_24dp:before {
  content: "\e987";
}
.icon-hierarchical-structure-2-2:before {
  content: "\e988";
}
.icon-Group-1:before {
  content: "\e989";
}
.icon-Grid-1:before {
  content: "\e98a";
}
.icon-gavel_black_24dp:before {
  content: "\e98b";
}
.icon-free_cancellation_black_24dp:before {
  content: "\e98c";
}
.icon-unfold_less_black_24dp:before {
  content: "\e98d";
}
.icon-turned_in_not_black_24dp:before {
  content: "\e98e";
}
.icon-turned_in_black_24dp:before {
  content: "\e98f";
}
.icon-try_black_24dp:before {
  content: "\e990";
}
.icon-trending_up_black_24dp:before {
  content: "\e991";
}
.icon-trending_flat_black_24dp:before {
  content: "\e992";
}
.icon-trending_down_black_24dp:before {
  content: "\e993";
}
.icon-translate_black_24dp:before {
  content: "\e994";
}
.icon-track_changes_black_24dp:before {
  content: "\e995";
}
.icon-tour_black_24dp:before {
  content: "\e996";
}
.icon-touch_app_black_24dp:before {
  content: "\e997";
}
.icon-toll_black_24dp:before {
  content: "\e998";
}
.icon-token_black_24dp:before {
  content: "\e999";
}
.icon-today_black_24dp:before {
  content: "\e99a";
}
.icon-toc_black_24dp:before {
  content: "\e99b";
}
.icon-Timely-Access-to-Care:before {
  content: "\e99c";
}
.icon-timeline_black_24dp:before {
  content: "\e99d";
}
.icon-thumb_up_off_alt_black_24dp:before {
  content: "\e99e";
}
.icon-thumb_up_black_24dp:before {
  content: "\e99f";
}
.icon-thumbs_up_down_black_24dp:before {
  content: "\e9a0";
}
.icon-thumb_down_off_alt_black_24dp:before {
  content: "\e9a1";
}
.icon-thumb_down_black_24dp:before {
  content: "\e9a2";
}
.icon-theaters_black_24dp:before {
  content: "\e9a3";
}
.icon-text_rotation_none_black_24dp:before {
  content: "\e9a4";
}
.icon-Taxonomy:before {
  content: "\e9a5";
}
.icon-target-1:before {
  content: "\e9a6";
}
.icon-tab_unselected_black_24dp:before {
  content: "\e9a7";
}
.icon-table_view_black_24dp:before {
  content: "\e9a8";
}
.icon-System-Wide:before {
  content: "\e9a9";
}
.icon-system_update_alt_black_24dp:before {
  content: "\e9aa";
}
.icon-sync_alt_black_24dp:before {
  content: "\e9ab";
}
.icon-switch_right_black_24dp:before {
  content: "\e9ac";
}
.icon-switch_access_shortcut_black_24dp:before {
  content: "\e9ad";
}
.icon-switch_access_shortcut_add_black_24dp:before {
  content: "\e9ae";
}
.icon-swipe_black_24dp:before {
  content: "\e9af";
}
.icon-swap_vertical_circle_black_24dp:before {
  content: "\e9b0";
}
.icon-swap_vert_black_24dp:before {
  content: "\e9b1";
}
.icon-swap_horizontal_circle_black_24dp:before {
  content: "\e9b2";
}
.icon-surgery:before {
  content: "\e9b3";
}
.icon-Supplier:before {
  content: "\e9b4";
}
.icon-supervisor_account_black_24dp:before {
  content: "\e9b5";
}
.icon-supervised_user_circle_black_24dp:before {
  content: "\e9b6";
}
.icon-subtitles_off_black_24dp:before {
  content: "\e9b7";
}
.icon-subject_black_24dp:before {
  content: "\e9b8";
}
.icon-subdirectory_arrow_right_black_24dp:before {
  content: "\e9b9";
}
.icon-Student:before {
  content: "\e9ba";
}
.icon-store_black_24dp:before {
  content: "\e9bb";
}
.icon-sticky_note_2_black_24dp:before {
  content: "\e9bc";
}
.icon-stars_black_24dp:before {
  content: "\e9bd";
}
.icon-star_border_black_24dp:before {
  content: "\e9be";
}
.icon-Staff-Passport:before {
  content: "\e9bf";
}
.icon-Staff:before {
  content: "\e9c0";
}
.icon-spellcheck_black_24dp:before {
  content: "\e9c1";
}
.icon-speaker_notes_off_black_24dp:before {
  content: "\e9c2";
}
.icon-speaker_notes_black_24dp:before {
  content: "\e9c3";
}
.icon-space_dashboard_black_24dp:before {
  content: "\e9c4";
}
.icon-south_west_black_24dp:before {
  content: "\e9c5";
}
.icon-south_east_black_24dp:before {
  content: "\e9c6";
}
.icon-south_black_24dp:before {
  content: "\e9c7";
}
.icon-Soul-Central:before {
  content: "\e9c8";
}
.icon-Sort_24dp:before {
  content: "\e9c9";
}
.icon-SNOMED:before {
  content: "\e9ca";
}
.icon-six_dot:before {
  content: "\e9cb";
}
.icon-shop_two_black_24dp:before {
  content: "\e9cc";
}
.icon-shopping_cart_black_24dp:before {
  content: "\e9cd";
}
.icon-shopping_basket_black_24dp:before {
  content: "\e9ce";
}
.icon-shopping_bag_black_24dp:before {
  content: "\e9cf";
}
.icon-shop_black_24dp:before {
  content: "\e9d0";
}
.icon-Shield:before {
  content: "\e9d1";
}
.icon-share:before {
  content: "\e9d2";
}
.icon-settings_voice_black_24dp:before {
  content: "\e9d3";
}
.icon-settings_remote_black_24dp:before {
  content: "\e9d4";
}
.icon-settings_power_black_24dp:before {
  content: "\e9d5";
}
.icon-settings_phone_black_24dp:before {
  content: "\e9d6";
}
.icon-settings_overscan_black_24dp:before {
  content: "\e9d7";
}
.icon-settings_input_svideo_black_24dp:before {
  content: "\e9d8";
}
.icon-settings_input_hdmi_black_24dp:before {
  content: "\e9d9";
}
.icon-settings_input_composite_black_24dp:before {
  content: "\e9da";
}
.icon-settings_input_component_black_24dp:before {
  content: "\e9db";
}
.icon-settings_input_antenna_black_24dp:before {
  content: "\e9dc";
}
.icon-settings_ethernet_black_24dp:before {
  content: "\e9dd";
}
.icon-settings_cell_black_24dp:before {
  content: "\e9de";
}
.icon-settings_brightness_black_24dp:before {
  content: "\e9df";
}
.icon-settings_bluetooth_black_24dp:before {
  content: "\e9e0";
}
.icon-settings_black_24dp:before {
  content: "\e9e1";
}
.icon-settings_backup_restore_black_24dp:before {
  content: "\e9e2";
}
.icon-settings_applications_black_24dp:before {
  content: "\e9e3";
}
.icon-sensors_off_black_24dp:before {
  content: "\e9e4";
}
.icon-sensors_black_24dp:before {
  content: "\e9e5";
}
.icon-send_and_archive_black_24dp:before {
  content: "\e9e6";
}
.icon-segment_black_24dp:before {
  content: "\e9e7";
}
.icon-search_off_black_24dp:before {
  content: "\e9e8";
}
.icon-schedule_send_black_24dp:before {
  content: "\e9e9";
}
.icon-save-the-world-1:before {
  content: "\e9ea";
}
.icon-Safety-Counsellor:before {
  content: "\e9eb";
}
.icon-Safety:before {
  content: "\e9ec";
}
.icon-rule_black_24dp:before {
  content: "\e9ed";
}
.icon-rounded_corner_black_24dp:before {
  content: "\e9ee";
}
.icon-Risk:before {
  content: "\e9ef";
}
.icon-restore_page_black_24dp:before {
  content: "\e9f0";
}
.icon-restore_from_trash_black_24dp:before {
  content: "\e9f1";
}
.icon-restore_black_24dp:before {
  content: "\e9f2";
}
.icon-request_page_black_24dp:before {
  content: "\e9f3";
}
.icon-reply_all:before {
  content: "\e9f4";
}
.icon-reorder_black_24dp:before {
  content: "\e9f5";
}
.icon-remove_shopping_cart_black_24dp:before {
  content: "\e9f6";
}
.icon-Registered-User:before {
  content: "\e9f7";
}
.icon-refresh_black_24dp:before {
  content: "\e9f8";
}
.icon-redeem_black_24dp:before {
  content: "\e9f9";
}
.icon-record_voice_over_black_24dp:before {
  content: "\e9fa";
}
.icon-Radio-Btn-List:before {
  content: "\e9fb";
}
.icon-quickreply_black_24dp:before {
  content: "\e9fc";
}
.icon-question_answer_black_24dp:before {
  content: "\e9fd";
}
.icon-query_builder_black_24dp:before {
  content: "\e9fe";
}
.icon-Quality-of-Care:before {
  content: "\e9ff";
}
.icon-Quality:before {
  content: "\ea00";
}
.icon-Public-Passport:before {
  content: "\ea01";
}
.icon-Professional:before {
  content: "\ea02";
}
.icon-privilege-escalation-1:before {
  content: "\ea03";
}
.icon-private_connectivity_black_24dp:before {
  content: "\ea04";
}
.icon-privacy_tip_black_24dp:before {
  content: "\ea05";
}
.icon-print_black_24dp:before {
  content: "\ea06";
}
.icon-Prevention:before {
  content: "\ea07";
}
.icon-pregnant_woman_black_24dp:before {
  content: "\ea08";
}
.icon-power_settings_new_black_24dp:before {
  content: "\ea09";
}
.icon-polymer_black_24dp:before {
  content: "\ea0a";
}
.icon-play_for_work_black_24dp:before {
  content: "\ea0b";
}
.icon-play_circle_filled_black_24dp-1:before {
  content: "\ea0c";
}
.icon-Planning:before {
  content: "\ea0d";
}
.icon-plagiarism_black_24dp:before {
  content: "\ea0e";
}
.icon-pivot_table_chart_black_24dp:before {
  content: "\ea0f";
}
.icon-pin_invoke_black_24dp:before {
  content: "\ea10";
}
.icon-piggy-bank:before {
  content: "\ea11";
}
.icon-picture_in_picture_black_24dp:before {
  content: "\ea12";
}
.icon-Pharmacist:before {
  content: "\ea13";
}
.icon-pets_black_24dp:before {
  content: "\ea14";
}
.icon-perm_scan_wifi_black_24dp:before {
  content: "\ea15";
}
.icon-perm_phone_msg_black_24dp:before {
  content: "\ea16";
}
.icon-perm_media_black_24dp:before {
  content: "\ea17";
}
.icon-perm_identity_black_24dp:before {
  content: "\ea18";
}
.icon-perm_device_information_black_24dp:before {
  content: "\ea19";
}
.icon-perm_data_setting_black_24dp:before {
  content: "\ea1a";
}
.icon-perm_contact_calendar_black_24dp:before {
  content: "\ea1b";
}
.icon-perm_camera_mic_black_24dp:before {
  content: "\ea1c";
}
.icon-People:before {
  content: "\ea1d";
}
.icon-pending_black_24dp:before {
  content: "\ea1e";
}
.icon-Pediatrics:before {
  content: "\ea1f";
}
.icon-Payors:before {
  content: "\ea20";
}
.icon-payments_black_24dp:before {
  content: "\ea21";
}
.icon-payment_black_24dp:before {
  content: "\ea22";
}
.icon-pause_black_24dp-1:before {
  content: "\ea23";
}
.icon-Patient-Safety:before {
  content: "\ea24";
}
.icon-Paragraph:before {
  content: "\ea25";
}
.icon-pan_tool_black_24dp:before {
  content: "\ea26";
}
.icon-paid_black_24dp:before {
  content: "\ea27";
}
.icon-pageview_black_24dp:before {
  content: "\ea28";
}
.icon-outlet_black_24dp:before {
  content: "\ea29";
}
.icon-outbox_black_24dp:before {
  content: "\ea2a";
}
.icon-outbound_black_24dp:before {
  content: "\ea2b";
}
.icon-orthopedics-1:before {
  content: "\ea2c";
}
.icon-Organization:before {
  content: "\ea2d";
}
.icon-Operation-Risk:before {
  content: "\ea2e";
}
.icon-open_with_black_24dp:before {
  content: "\ea2f";
}
.icon-open_in_new_off_black_24dp:before {
  content: "\ea30";
}
.icon-open_in_new_black_24dp:before {
  content: "\ea31";
}
.icon-open_in_full_black_24dp:before {
  content: "\ea32";
}
.icon-Open:before {
  content: "\ea33";
}
.icon-opacity_black_24dp:before {
  content: "\ea34";
}
.icon-online_prediction_black_24dp:before {
  content: "\ea35";
}
.icon-offline_share_black_24dp:before {
  content: "\ea36";
}
.icon-offline_pin_black_24dp:before {
  content: "\ea37";
}
.icon-offline_bolt_black_24dp:before {
  content: "\ea38";
}
.icon-Nurse:before {
  content: "\ea39";
}
.icon-notifications_off_black_24dp-1:before {
  content: "\ea3a";
}
.icon-notification_important_black_24dp:before {
  content: "\ea3b";
}
.icon-note_add_black_24dp:before {
  content: "\ea3c";
}
.icon-not_accessible_black_24dp:before {
  content: "\ea3d";
}
.icon-north_west_black_24dp:before {
  content: "\ea3e";
}
.icon-north_east_black_24dp:before {
  content: "\ea3f";
}
.icon-No-Property-Pass:before {
  content: "\ea40";
}
.icon-Non---Medical:before {
  content: "\ea41";
}
.icon-no_accounts_black_24dp:before {
  content: "\ea42";
}
.icon-nightlight_round_black_24dp:before {
  content: "\ea43";
}
.icon-next_plan_black_24dp:before {
  content: "\ea44";
}
.icon-My-Dasboard:before {
  content: "\ea45";
}
.icon-Mortality-2:before {
  content: "\ea46";
}
.icon-Mortality:before {
  content: "\ea47";
}
.icon-more_vert_black_24dp:before {
  content: "\ea48";
}
.icon-MOH:before {
  content: "\ea49";
}
.icon-mobile-app-1:before {
  content: "\ea4a";
}
.icon-Mind-the-gap:before {
  content: "\ea4b";
}
.icon-menu_open_black_24dp:before {
  content: "\ea4c";
}
.icon-menu_black_24dp:before {
  content: "\ea4d";
}
.icon-Medical:before {
  content: "\ea4e";
}
.icon-mediation_black_24dp:before {
  content: "\ea4f";
}
.icon-maximize_black_24dp:before {
  content: "\ea50";
}
.icon-Mask:before {
  content: "\ea51";
}
.icon-mark_as_unread_black_24dp:before {
  content: "\ea52";
}
.icon-Mapping:before {
  content: "\ea53";
}
.icon-manage_accounts_black_24dp:before {
  content: "\ea54";
}
.icon-man-1-1:before {
  content: "\ea55";
}
.icon-Maintenance:before {
  content: "\ea56";
}
.icon-loyalty_black_24dp:before {
  content: "\ea57";
}
.icon-logout_black_24dp:before {
  content: "\ea58";
}
.icon-login_black_24dp:before {
  content: "\ea59";
}
.icon-lock_open_black_24dp:before {
  content: "\ea5a";
}
.icon-lock_clock_black_24dp:before {
  content: "\ea5b";
}
.icon-lock_black_24dp:before {
  content: "\ea5c";
}
.icon-Location:before {
  content: "\ea5d";
}
.icon-list_black_24dp:before {
  content: "\ea5e";
}
.icon-link:before {
  content: "\ea5f";
}
.icon-line_weight_black_24dp:before {
  content: "\ea60";
}
.icon-line_style_black_24dp:before {
  content: "\ea61";
}
.icon-light_mode:before {
  content: "\ea62";
}
.icon-lightbulb_black_24dp:before {
  content: "\ea63";
}
.icon-legend_toggle_black_24dp:before {
  content: "\ea64";
}
.icon-leaderboard_black_24dp:before {
  content: "\ea65";
}
.icon-last_page_black_24dp:before {
  content: "\ea66";
}
.icon-larynx-1:before {
  content: "\ea67";
}
.icon-Laboratory:before {
  content: "\ea68";
}
.icon-label_off_black_24dp:before {
  content: "\ea69";
}
.icon-label_important_black_24dp:before {
  content: "\ea6a";
}
.icon-King-Abdallah-MCity:before {
  content: "\ea6b";
}
.icon-JCl:before {
  content: "\ea6c";
}
.icon-invert_colors_black_24dp:before {
  content: "\ea6d";
}
.icon-InputFieldIcon:before {
  content: "\ea6e";
}
.icon-input_black_24dp:before {
  content: "\ea6f";
}
.icon-india-1:before {
  content: "\ea70";
}
.icon-Incident-2:before {
  content: "\ea71";
}
.icon-Incident:before {
  content: "\ea72";
}
.icon-IMC:before {
  content: "\ea73";
}
.icon-Icons:before {
  content: "\ea74";
}
.icon-Human-Capital-Risk:before {
  content: "\ea75";
}
.icon-https_black_24dp:before {
  content: "\ea76";
}
.icon-http_black_24dp:before {
  content: "\ea77";
}
.icon-hourglass_full_black_24dp:before {
  content: "\ea78";
}
.icon-hourglass_empty_black_24dp:before {
  content: "\ea79";
}
.icon-Hotspot:before {
  content: "\ea7a";
}
.icon-hotel_class_black_24dp:before {
  content: "\ea7b";
}
.icon-hospital-3-1:before {
  content: "\ea7c";
}
.icon-hospital-2-1:before {
  content: "\ea7d";
}
.icon-horizontal_split_black_24dp:before {
  content: "\ea7e";
}
.icon-home_black_24dp:before {
  content: "\ea7f";
}
.icon-history_toggle_off_black_24dp:before {
  content: "\ea80";
}
.icon-history_black_24dp:before {
  content: "\ea81";
}
.icon-highlight_off_black_24dp:before {
  content: "\ea82";
}
.icon-hierarchical-structure-2-1:before {
  content: "\ea83";
}
.icon-hide_source_black_24dp:before {
  content: "\ea84";
}
.icon-help_outline_black_24dp:before {
  content: "\ea85";
}
.icon-help_center_black_24dp:before {
  content: "\ea86";
}
.icon-help_black_24dp:before {
  content: "\ea87";
}
.icon-heart-rate-monitor-1:before {
  content: "\ea88";
}
.icon-heart-1:before {
  content: "\ea89";
}
.icon-Health-Safety:before {
  content: "\ea8a";
}
.icon-healthcare-2-1:before {
  content: "\ea8b";
}
.icon-Hazard-Risk:before {
  content: "\ea8c";
}
.icon-g_translate_black_24dp:before {
  content: "\ea8d";
}
.icon-group_work_black_24dp:before {
  content: "\ea8e";
}
.icon-Grid:before {
  content: "\ea8f";
}
.icon-grading_black_24dp:before {
  content: "\ea90";
}
.icon-grade_black_24dp:before {
  content: "\ea91";
}
.icon-gif_box_black_24dp:before {
  content: "\ea92";
}
.icon-gif_black_24dp:before {
  content: "\ea93";
}
.icon-get_app_black_24dp:before {
  content: "\ea94";
}
.icon-generating_tokens_black_24dp:before {
  content: "\ea95";
}
.icon-GAP:before {
  content: "\ea96";
}
.icon-fullscreen_exit_black_24dp:before {
  content: "\ea97";
}
.icon-fullscreen_black_24dp:before {
  content: "\ea98";
}
.icon-Fraud:before {
  content: "\ea99";
}
.icon-flaky_black_24dp:before {
  content: "\ea9a";
}
.icon-feedback_black_24dp:before {
  content: "\ea9b";
}
.icon-favorite_black_24dp:before {
  content: "\ea9c";
}
.icon-family-1:before {
  content: "\ea9d";
}
.icon-Falls:before {
  content: "\ea9e";
}
.icon-Failure-to-Refer:before {
  content: "\ea9f";
}
.icon-equal_black_24dp:before {
  content: "\eaa0";
}
.icon-Emergency:before {
  content: "\eaa1";
}
.icon-edit_black_24dp:before {
  content: "\eaa2";
}
.icon-dynamic_form_black_24dp:before {
  content: "\eaa3";
}
.icon-donut_large_black_24dp:before {
  content: "\eaa4";
}
.icon-done_all_black_24dp:before {
  content: "\eaa5";
}
.icon-domain:before {
  content: "\eaa6";
}
.icon-delete_black_24dp:before {
  content: "\eaa7";
}
.icon-date_range_black_24dp:before {
  content: "\eaa8";
}
.icon-dangerous_black_24dp:before {
  content: "\eaa9";
}
.icon-ct-scan-1:before {
  content: "\eaaa";
}
.icon-code_black_24dp:before {
  content: "\eaab";
}
.icon-check_circle_black_24dp:before {
  content: "\eaac";
}
.icon-check_black_24dp:before {
  content: "\eaad";
}
.icon-CDC:before {
  content: "\eaae";
}
.icon-card_membership_black_24dp:before {
  content: "\eaaf";
}
.icon-book_online_black_24dp:before {
  content: "\eab0";
}
.icon-app_settings_alt_black_24dp:before {
  content: "\eab1";
}
.icon-Approve:before {
  content: "\eab2";
}
.icon-alarm_add_black_24dp:before {
  content: "\eab3";
}
.icon-d_rotation:before {
  content: "\eab4";
}
.icon-france-1:before {
  content: "\eab5";
}
.icon-font:before {
  content: "\eab6";
}
.icon-flutter_dash_black_24dp:before {
  content: "\eab7";
}
.icon-flip_to_front_black_24dp:before {
  content: "\eab8";
}
.icon-flip_to_back_black_24dp:before {
  content: "\eab9";
}
.icon-flight_takeoff_black_24dp:before {
  content: "\eaba";
}
.icon-flight_land_black_24dp:before {
  content: "\eabb";
}
.icon-Flag:before {
  content: "\eabc";
}
.icon-Fix:before {
  content: "\eabd";
}
.icon-fit_screen_black_24dp:before {
  content: "\eabe";
}
.icon-first_page_black_24dp:before {
  content: "\eabf";
}
.icon-fingerprint_black_24dp:before {
  content: "\eac0";
}
.icon-find_replace_black_24dp:before {
  content: "\eac1";
}
.icon-find_in_page_black_24dp:before {
  content: "\eac2";
}
.icon-Financial-Risk:before {
  content: "\eac3";
}
.icon-filter_alt_black_24dp:before {
  content: "\eac4";
}
.icon-file_upload:before {
  content: "\eac5";
}
.icon-file_present_black_24dp:before {
  content: "\eac6";
}
.icon-file_download_black_24dp-1-1:before {
  content: "\eac7";
}
.icon-file_copy:before {
  content: "\eac8";
}
.icon-Favorite-Filled:before {
  content: "\eac9";
}
.icon-favorite_border_black_24dp:before {
  content: "\eaca";
}
.icon-Failure-to-Diagnoses:before {
  content: "\eacb";
}
.icon-fact_check_black_24dp:before {
  content: "\eacc";
}
.icon-face_black_24dp:before {
  content: "\eacd";
}
.icon-external_link:before {
  content: "\eace";
}
.icon-extension_off_black_24dp:before {
  content: "\eacf";
}
.icon-extension_black_24dp:before {
  content: "\ead0";
}
.icon-explore_off_black_24dp:before {
  content: "\ead1";
}
.icon-explore_black_24dp:before {
  content: "\ead2";
}
.icon-expand_more_black_24dp:before {
  content: "\ead3";
}
.icon-expand_less_black_24dp:before {
  content: "\ead4";
}
.icon-expand_circle_down_black_24dp:before {
  content: "\ead5";
}
.icon-expand_black_24dp:before {
  content: "\ead6";
}
.icon-Expand:before {
  content: "\ead7";
}
.icon-exit_to_app_black_24dp:before {
  content: "\ead8";
}
.icon-event_seat_black_24dp:before {
  content: "\ead9";
}
.icon-event_black_24dp:before {
  content: "\eada";
}
.icon-euro_symbol_black_24dp:before {
  content: "\eadb";
}
.icon-error_black_24dp:before {
  content: "\eadc";
}
.icon-email-10-1:before {
  content: "\eadd";
}
.icon-eject_black_24dp:before {
  content: "\eade";
}
.icon-edit_off_black_24dp:before {
  content: "\eadf";
}
.icon-edit_calendar_black_24dp:before {
  content: "\eae0";
}
.icon-EBGs:before {
  content: "\eae1";
}
.icon-east_black_24dp:before {
  content: "\eae2";
}
.icon-DRG:before {
  content: "\eae3";
}
.icon-drag_indicator_black_24dp:before {
  content: "\eae4";
}
.icon-double_arrow_black_24dp:before {
  content: "\eae5";
}
.icon-donut_small_black_24dp:before {
  content: "\eae6";
}
.icon-done_all_black_24dp-1:before {
  content: "\eae7";
}
.icon-domain_black_24dp-1:before {
  content: "\eae8";
}
.icon-Doctor:before {
  content: "\eae9";
}
.icon-dns_black_24dp:before {
  content: "\eaea";
}
.icon-disabled_visible_black_24dp:before {
  content: "\eaeb";
}
.icon-Diagnisis:before {
  content: "\eaec";
}
.icon-Devices:before {
  content: "\eaed";
}
.icon-description_black_24dp:before {
  content: "\eaee";
}
.icon-dermis-1:before {
  content: "\eaef";
}
.icon-dental-care-1:before {
  content: "\eaf0";
}
.icon-Date--Time:before {
  content: "\eaf1";
}
.icon-data_exploration_black_24dp:before {
  content: "\eaf2";
}
.icon-dashboard_customize_black_24dp:before {
  content: "\eaf3";
}
.icon-dashboard_black_24dp:before {
  content: "\eaf4";
}
.icon-Cultural:before {
  content: "\eaf5";
}
.icon-Critical:before {
  content: "\eaf6";
}
.icon-credit_card_off_black_24dp:before {
  content: "\eaf7";
}
.icon-credit_card_black_24dp:before {
  content: "\eaf8";
}
.icon-Credit:before {
  content: "\eaf9";
}
.icon-copyright_black_24dp:before {
  content: "\eafa";
}
.icon-contact_support_black_24dp:before {
  content: "\eafb";
}
.icon-contact_page_black_24dp:before {
  content: "\eafc";
}
.icon-contactless_black_24dp:before {
  content: "\eafd";
}
.icon-compress_black_24dp:before {
  content: "\eafe";
}
.icon-Competition:before {
  content: "\eaff";
}
.icon-compare_arrows_black_24dp:before {
  content: "\eb00";
}
.icon-commute_black_24dp:before {
  content: "\eb01";
}
.icon-Communication:before {
  content: "\eb02";
}
.icon-comment_bank_black_24dp:before {
  content: "\eb03";
}
.icon-color_fill:before {
  content: "\eb04";
}
.icon-Collapse:before {
  content: "\eb05";
}
.icon-code_off_black_24dp:before {
  content: "\eb06";
}
.icon-Cluster:before {
  content: "\eb07";
}
.icon-close_fullscreen_black_24dp:before {
  content: "\eb08";
}
.icon-close_black_24dp:before {
  content: "\eb09";
}
.icon-Clinical:before {
  content: "\eb0a";
}
.icon-class_black_24dp:before {
  content: "\eb0b";
}
.icon-Claims:before {
  content: "\eb0c";
}
.icon-chevron_right_black_24dp:before {
  content: "\eb0d";
}
.icon-chevron_left_black_24dp:before {
  content: "\eb0e";
}
.icon-Checkbox-List:before {
  content: "\eb0f";
}
.icon-Checkbox:before {
  content: "\eb10";
}
.icon-chat_black_24dp-1:before {
  content: "\eb11";
}
.icon-change_history_black_24dp:before {
  content: "\eb12";
}
.icon-CBAHI:before {
  content: "\eb13";
}
.icon-Care:before {
  content: "\eb14";
}
.icon-card_travel_black_24dp:before {
  content: "\eb15";
}
.icon-Cardiac-Heart:before {
  content: "\eb16";
}
.icon-card_giftcard_black_24dp:before {
  content: "\eb17";
}
.icon-Capital-Risk:before {
  content: "\eb18";
}
.icon-cancel_schedule_send_black_24dp:before {
  content: "\eb19";
}
.icon-cancel_black_24dp:before {
  content: "\eb1a";
}
.icon-campaign_black_24dp:before {
  content: "\eb1b";
}
.icon-camera_enhance_black_24dp:before {
  content: "\eb1c";
}
.icon-calendar_view_week_black_24dp:before {
  content: "\eb1d";
}
.icon-calendar_view_month_black_24dp:before {
  content: "\eb1e";
}
.icon-calendar_view_day_black_24dp:before {
  content: "\eb1f";
}
.icon-calendar_today_black_24dp:before {
  content: "\eb20";
}
.icon-cached_black_24dp:before {
  content: "\eb21";
}
.icon-build_circle_black_24dp:before {
  content: "\eb22";
}
.icon-bug_report_black_24dp:before {
  content: "\eb23";
}
.icon-bookmark_border_black_24dp-1-1:before {
  content: "\eb24";
}
.icon-bookmark_black_24dp:before {
  content: "\eb25";
}
.icon-bookmark_added_black_24dp:before {
  content: "\eb26";
}
.icon-bookmark_add_black_24dp:before {
  content: "\eb27";
}
.icon-book_black_24dp:before {
  content: "\eb28";
}
.icon-Behavior:before {
  content: "\eb29";
}
.icon-batch_prediction_black_24dp:before {
  content: "\eb2a";
}
.icon-backup_table_black_24dp:before {
  content: "\eb2b";
}
.icon-backup_black_24dp:before {
  content: "\eb2c";
}
.icon-baby-teeth-1-1:before {
  content: "\eb2d";
}
.icon-autorenew_black_24dp:before {
  content: "\eb2e";
}
.icon-attach_file:before {
  content: "\eb2f";
}
.icon-assistant_direction_black_24dp:before {
  content: "\eb30";
}
.icon-assignment_turned_in_black_24dp:before {
  content: "\eb31";
}
.icon-assignment_returned_black_24dp:before {
  content: "\eb32";
}
.icon-assignment_return_black_24dp:before {
  content: "\eb33";
}
.icon-assignment_late_black_24dp:before {
  content: "\eb34";
}
.icon-assignment_ind_black_24dp:before {
  content: "\eb35";
}
.icon-assignment_black_24dp:before {
  content: "\eb36";
}
.icon-assessment_black_24dp:before {
  content: "\eb37";
}
.icon-aspect_ratio_black_24dp:before {
  content: "\eb38";
}
.icon-article_black_24dp:before {
  content: "\eb39";
}
.icon-arrow_upward_black_24dp:before {
  content: "\eb3a";
}
.icon-arrow_right_black_24dp:before {
  content: "\eb3b";
}
.icon-arrow_right_alt_black_24dp:before {
  content: "\eb3c";
}
.icon-arrow_left_black_24dp:before {
  content: "\eb3d";
}
.icon-arrow_forward_ios_black_24dp:before {
  content: "\eb3e";
}
.icon-arrow_forward_black_24dp:before {
  content: "\eb3f";
}
.icon-arrow_drop_up_black_24dp:before {
  content: "\eb40";
}
.icon-arrow_drop_down_circle_black_24dp:before {
  content: "\eb41";
}
.icon-arrow_drop_down_black_24dp:before {
  content: "\eb42";
}
.icon-arrow_downward_black_24dp:before {
  content: "\eb43";
}
.icon-arrow_circle_up_black_24dp:before {
  content: "\eb44";
}
.icon-arrow_circle_right_black_24dp:before {
  content: "\eb45";
}
.icon-arrow_circle_left_black_24dp:before {
  content: "\eb46";
}
.icon-arrow_circle_down_black_24dp:before {
  content: "\eb47";
}
.icon-arrow_back:before {
  content: "\eb48";
}
.icon-arrow:before {
  content: "\eb49";
}
.icon-apps_outage_black_24dp:before {
  content: "\eb4a";
}
.icon-app-development-1:before {
  content: "\eb4b";
}
.icon-app_blocking_black_24dp:before {
  content: "\eb4c";
}
.icon-app:before {
  content: "\eb4d";
}
.icon-api_black_24dp:before {
  content: "\eb4e";
}
.icon-announcement_black_24dp:before {
  content: "\eb4f";
}
.icon-android_black_24dp:before {
  content: "\eb50";
}
.icon-anchor_black_24dp:before {
  content: "\eb51";
}
.icon-analytics_black_24dp:before {
  content: "\eb52";
}
.icon-all_out_black_24dp:before {
  content: "\eb53";
}
.icon-all_inbox_black_24dp:before {
  content: "\eb54";
}
.icon-alarm_on_black_24dp:before {
  content: "\eb55";
}
.icon-alarm_off_black_24dp:before {
  content: "\eb56";
}
.icon-alarm_black_24dp:before {
  content: "\eb57";
}
.icon-AHRQ:before {
  content: "\eb58";
}
.icon-ads_click_black_24dp:before {
  content: "\eb59";
}
.icon-admin_panel_settings_black_24dp:before {
  content: "\eb5a";
}
.icon-add_to_drive_black_24dp:before {
  content: "\eb5b";
}
.icon-add_task_black_24dp:before {
  content: "\eb5c";
}
.icon-add_shopping_cart_black_24dp:before {
  content: "\eb5d";
}
.icon-addchart_black_24dp:before {
  content: "\eb5e";
}
.icon-add_alert_black_24dp:before {
  content: "\eb5f";
}
.icon-add:before {
  content: "\eb60";
}
.icon-account_circle_black_24dp:before {
  content: "\eb61";
}
.icon-account_box_black_24dp:before {
  content: "\eb62";
}
.icon-account_balance_wallet_black_24dp:before {
  content: "\eb63";
}
.icon-account_balance_black_24dp:before {
  content: "\eb64";
}
.icon-Accommodation:before {
  content: "\eb65";
}
.icon-accessible_forward_black_24dp:before {
  content: "\eb66";
}
.icon-accessible:before {
  content: "\eb67";
}
.icon-accessibility:before {
  content: "\eb68";
}
.icon-Entity_Creator-Outline:before {
  content: "\eb69";
}
.icon-User-Solid:before {
  content: "\eb6a";
}
.icon-User-Outlined:before {
  content: "\eb6b";
}
.icon-Upload_icon:before {
  content: "\eb6c";
}
.icon-Upload:before {
  content: "\eb6d";
}
.icon-Untitled:before {
  content: "\eb6e";
}
.icon-Union:before {
  content: "\eb6f";
}
.icon-Trash:before {
  content: "\eb70";
}
.icon-transform:before {
  content: "\eb71";
}
.icon-Sql-Query:before {
  content: "\eb72";
}
.icon-snow-flake:before {
  content: "\eb73";
}
.icon-Settings-Solid:before {
  content: "\eb74";
}
.icon-Settings-Outlined:before {
  content: "\eb75";
}
.icon-Search:before {
  content: "\eb76";
}
.icon-Profile_24px:before {
  content: "\eb77";
}
.icon-Preview:before {
  content: "\eb78";
}
.icon-postgres:before {
  content: "\eb79";
}
.icon-Pipeline:before {
  content: "\eb7a";
}
.icon-mysql:before {
  content: "\eb7b";
}
.icon-mongodb:before {
  content: "\eb7c";
}
.icon-Menu-Transform:before {
  content: "\eb7d";
}
.icon-Menu-RabbitMQ:before {
  content: "\eb7e";
}
.icon-Menu-Postgres:before {
  content: "\eb7f";
}
.icon-Menu-Mysql:before {
  content: "\eb80";
}
.icon-Menu-MiscSetting-Solid:before {
  content: "\eb81";
}
.icon-Menu-MiscSetting-Outlined:before {
  content: "\eb82";
}
.icon-Menu-Microapps-Solid:before {
  content: "\eb83";
}
.icon-Menu-Microapps-Outlined:before {
  content: "\eb84";
}
.icon-Menu-Info:before {
  content: "\eb85";
}
.icon-Menu-Icons-2:before {
  content: "\eb86";
}
.icon-Menu-Icons-1:before {
  content: "\eb87";
}
.icon-Menu-Icons:before {
  content: "\eb88";
}
.icon-Menu-Devops-Solid:before {
  content: "\eb89";
}
.icon-Menu-Devops-Outlined:before {
  content: "\eb8a";
}
.icon-Menu-Devops2-Solid:before {
  content: "\eb8b";
}
.icon-Menu-Devops2-Outlined:before {
  content: "\eb8c";
}
.icon-Menu-Dataops-Solid:before {
  content: "\eb8d";
}
.icon-Menu-Dataops-Outlined:before {
  content: "\eb8e";
}
.icon-Menu-Dashboard-Solid:before {
  content: "\eb8f";
}
.icon-Menu-Dashboard-Outlined:before {
  content: "\eb90";
}
.icon-Menu-Backend-Solid:before {
  content: "\eb91";
}
.icon-Menu-Backend-Outlined:before {
  content: "\eb92";
}
.icon-Main-Menu-Icons:before {
  content: "\eb93";
}
.icon-List-View:before {
  content: "\eb94";
}
.icon-Incremental-Flag:before {
  content: "\eb95";
}
.icon-ID_Card_Outline:before {
  content: "\eb96";
}
.icon-Global_Search-Outline:before {
  content: "\eb97";
}
.icon-Filter:before {
  content: "\eb98";
}
.icon-FileType1:before {
  content: "\eb99";
}
.icon-Edit:before {
  content: "\eb9a";
}
.icon-dot:before {
  content: "\eb9b";
}
.icon-DiamondSolid:before {
  content: "\eb9c";
}
.icon-Dashboard-Solid:before {
  content: "\eb9d";
}
.icon-Dashboard-Outlined:before {
  content: "\eb9e";
}
.icon-Correct:before {
  content: "\eb9f";
}
.icon-Connectors:before {
  content: "\eba0";
}
.icon-Column_options:before {
  content: "\eba1";
}
.icon-Close:before {
  content: "\eba2";
}
.icon-Calendar:before {
  content: "\eba3";
}
.icon-Bell-Solid:before {
  content: "\eba4";
}
.icon-Bell-Outlined:before {
  content: "\eba5";
}
.icon-aws-s3:before {
  content: "\eba6";
}
.icon-Arrow-Up:before {
  content: "\eba7";
}
.icon-Arrow-Right:before {
  content: "\eba8";
}
.icon-Arrow-Down:before {
  content: "\eba9";
}
.icon-Add:before {
  content: "\ebaa";
}
